<form action="" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= book.title %>">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" value="<%= book.author %>">
    </div>
    <button class="btn btn-info" type="submit">Edit Book</button>
</form>