<div class="container">
    <form action="" method="post">
        <div class="mb3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" value="Usman" name="name"/>
        </div>
        <div class="mb3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" value="usman.akram@gmail.com" name="email"/>
        </div>
        <div class="mb3">
            <label for="password" class="form-label">Password</label>
            <input  class="form-control" id="password" type="password" value="usman" name="password"/>
        </div>
        <div class="mb3">
            <button type="submit" class="btn btn-info">Register</button>
        </div>
    </form>
</div>