
<h2>Awesome Book Store</h2>

<% books.forEach(book => { %>
    <div class="book">
        <h3 class="book-title"><%= book.title %></h3>
        <p class="book-author"><%= book.author %></p>
    </div>
<% }) %>