<ul id="menu">
    <li><a href="/">Home Page</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/products">Products</a></li>
    <% if (!user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        
    <% } else { %>
        <% if (user.role=="admin") { %>
            <li><a href="/admin/books">Admin Area</a></li>
        <% } %>
        <li><a href="/logout">Logout</a></li>

    <% } %>
    
</ul>