<div class="container">
    <form action="" method="post">
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" class="form-control" name="email" value="usman.akram@gmail.com"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" name="password" value="usman" />
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Login</button>
        </div>
    </form>
</div>