<h3>Books</h3>

<% for( let index = 0; index < books.length; index++ ) { %>
<div>
    <h5><%= books[index].title %></h5>
    <p><%= books[index].author %></p>
</div>
<% } %>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      
      
      
      <% for( let index = 1; index <= totalPages; index++ ) { %>
        <li class="page-item"><a class="page-link" href="/books/<%= index %>"><%= index %></a></li>
      <% } %>
      
    </ul>
  </nav>